[2014-11-20 08:53] joshangell opened #1 "In live preview fancy selects that are already open stay open."

[2014-11-20 15:50] #1 closed, assigned to joshangell

[2014-11-20 21:05] joshangell opened #2 "Too much height on text only buttons"

[2014-11-21 14:45] #2 closed, assigned to joshangell

[2014-11-26 10:05] joshangell opened #3 "Stars don't show value when disabled"
For example in a previous version, there are no yellow ones they are all just grey.

[2014-12-03 14:34] #3 closed, assigned to nobody

[2014-12-06 13:18] alecritson opened #5 "Colour input not showing on entry"
Hey,

I was trying to use the colour button fieldtype and nothing renders on the entry page, the markup is in the source and there are no errors that I can see in the console yet all that shows is the label. I'm using Craft 2.3.2617 if that helps.

![colour-input](https://cloud.githubusercontent.com/assets/1488016/5327517/f6821222-7d49-11e4-819d-b9cc57005f78.jpg)

These are my fieldtype settings:

[2014-12-29 22:30] since1976 opened #6 "Value for button cannot be blank"
I have found that if I leave a value as blank for a button for a field that is set as required the entry won't save.

![screen shot 2014-12-30 at 11 29 59 am](https://cloud.githubusercontent.com/assets/90833/5573818/3dd9a218-9017-11e4-9e7c-5343dbcdd941.png)

In my instance I have a button type field that has the options of Standard (default), Outline or Link. It would be nice if the default type c

[2015-01-06 19:43] julzmon commented on #5
Setting a default color no longer works in latest Craft release.

[2015-01-07 08:17] joshangell commented on #6
Off the top of my head I'm not quite sure why that is actually happening - does a blank value work if the field is _not_ required?

[2015-01-07 08:30] joshangell commented on #5
Thanks @julzmon - I'm planning on taking a look at this sometime this week, feel free to patch and send a PR.

[2015-01-08 22:49] since1976 commented on #6
Yes the entry saves if the field isn't required and is supplied with a blank value.

[2015-01-09 09:55] #6 closed, assigned to joshangell

[2015-01-09 10:05] joshangell commented on #5
Hi @julzmon - I can't reproduce the problem you're seeing, are you sure setting a default doesn't work?

[2015-01-09 10:30] #5 closed

[2015-01-28 02:38] engram-design opened #8 "Fix for PHP 5.3 support"
I'm aware the plugin has only been tested on 5.5, and developing locally with 5.4 works a treat. Our development server runs 5.3.29, and runs across an error in ```fieldtypes/ButtonBox_TextSizeFieldType.php``` and ```fieldtypes/ButtonBox_ColoursFieldType.php```

Basically, It just doesn't like the direct calling method when referencing an array index (why this was never supported a long time ago i

[2015-01-29 08:30] #8 closed

[2015-01-29 08:31] joshangell commented on #8
Done! Thanks for the heads up and fix :smiley:

[2015-01-29 08:45] engram-design commented on #8
No worries! Thank you for the awesome plugin - I use it all the time! :)

[2016-05-21 00:51] jacobgraf opened #10 "Text-Only Button Text Not Centered Vertically"
I'm curious about the 2px top-margin applied to button labels? It's causing the text to be off-center vertically...

![text-before](https://cloud.githubusercontent.com/assets/146333/15445432/1b42d9da-1ec4-11e6-9e63-c0d3a3c4d633.jpg)

If I remove the 2px, everything looks great...

![text-after](https://cloud.githubusercontent.com/assets/146333/15445439/2a39f202-1ec4-11e6-904f-b76917b120bf.jpg)

[2016-08-10 17:12] johndwells opened #12 "Button Box toggle breaks if switching Entry Types multiple times"
I'm using a Button Box field in one of a couple Entry Types assigned to the Section, and it's not the default Entry Type - so to see the BB field in action I first have to switch Entry Types.  Upon the first switch, the BB field works fine and I can toggle the button selection; however if I change back to the first Entry Type, and then _back_ to the Entry Type with the BB field, I can no longer ch

[2016-08-11 07:06] joshangell commented on #12
Thanks for reporting this John, I can’t promise when I'll get to look at it but I will try!

[2017-08-05 13:16] supercooljames opened #13 "long dropdowns does not work"
_Via Felix Stößel …_

[2017-10-02 13:38] haabe opened #14 "Support for multi-environment variables"
The project's location in my staging environment and production environment differs, so I cannot hardcode the full path within the Buttonbox config. I wish to use multi-environment variables, as described in the [Craft CMS docs](https://craftcms.com/docs/multi-environment-configs).

I have a multi-environment variable called basePath, which points to the project's root folder (`some/folder/to/proj

[2017-10-03 07:09] haabe commented on #14
Here's what I did to buttonbox/templates/buttons/field.html:

[code]

[2017-10-03 12:01] Nav33d commented on #14
Hi Haabe,

You don't need to provide full path to the project. You can have your icons saved in `public` folder. Lets say you have your icons saved in a `files` folder within `public` folder, then the path to the icon would be `/files/icon.png`. It would work regardless of your different environments setup.

Hope that helps.

Many thanks

[2017-10-03 12:59] haabe commented on #14
Yeah, well our different server setups make use of the public root folder difficult, whereas we've been using the multi-environment variables.

I've provided you with an example code on how to handle it. It'd be nice to see it implemented.

[2017-10-05 13:51] Nav33d commented on #14
Hi,

We will definitely support environment specific variables in the future but I'm afraid won't be straight away as we have triggers field using URLs too.

In the meantime, you could fork this repo and implement your solution as a temporary fix.

Many thanks

[2017-10-05 13:51] #14 closed

[2017-12-11 09:23] j-greig opened #15 "Craft 3 support?"
Hiiii, just wondering if a Craft 3 version is in the pipeline?

[2017-12-11 11:09] supercooljames commented on #15
Hi James

We’re a little bit behind on Craft 3 dev

The plan is to port Button Box, and a few of our other plugins over.
Likely to be Q2 2018 before we get on to it this end.

James

---

On 11 Dec 2017, 09:23 +0000, James Greig <notifications@github.com>, wrote:

[2017-12-11 12:37] j-greig commented on #15
No worries, thanks for the update.

[2018-01-07 22:56] askogrand commented on #15
I too would love to get my hands on button box for craft3. Good to know its slated.

[2018-04-09 02:15] john-henry opened #16 "[Craft 3] Installation via composer needs a release added to packagist?"
I believe, but could be wrong but does this need to be added to packagist?

Otherwise I get the following

[2018-04-09 11:40] Nav33d commented on #16
Hi John,

I have just tagged a release 2.0.0 for Craft CMS 3 and you should be able to install it using composer `composer require supercool/buttonbox`

Many thanks

[2018-04-09 11:40] #16 closed

[2018-04-09 17:46] kragit opened #17 "Responsive Buttons"
If using Button Box within something like SuperTable in it's 'static table' configuration, buttons can extend beyond their container and cover other fields.

Current behavior:
![screen shot 2018-04-09 at 1 31 40 pm](https://user-images.githubusercontent.com/296050/38512877-778cde3e-3bfa-11e8-8954-fe57d8955b3c.png)

Possible fix:
![possiblefix](https://user-images.githubusercontent.com/296050/38513

[2018-04-18 20:51] tyler-deboer opened #18 "PHP 7.2 issue - Parameter must be an array or an object that implements Countable"
I'm getting a PHP error any time I try saving an entry with a Button Box field.

```count(): Parameter must be an array or an object that implements Countable```

The error says it's happening on Line 226 of `vendor/craftcms/cms/src/fields/BaseOptionsField`. Since the error is happening in the Craft vendor package, it may be something that has to be fixed in Craft itself? Or is that something that

[2018-05-23 07:02] michaelroper opened #20 "C2->C3 Upgrade - fields/data not migrating?"
Hey guys,

Just upgrading a site from Craft v2 to v3, and having an issue where the fieldtype/data seems to not be migrating.
Initial state:
![image](https://user-images.githubusercontent.com/60287/40408267-8820c956-5e99-11e8-8000-86b84606000b.png)

The new fieldtype is available to select, and indicates that I won't lose data by changing, but when I select it, no data seems to have been migrated?

[2018-05-29 02:11] bossanova808 commented on #15
Ditto here.  Commenting just to follow for updates :)

[2018-05-29 02:12] bossanova808 commented on #15
Oh never mind, I see it's actually there...sorry for the noise.  Any plans to add this to the plugin store?

[2018-05-30 14:06] E2design commented on #18
Same issue here while using button box in a matrix or NEO field.

`count(): Parameter must be an array or an object that implements Countable`

PHP 7.2.1
Craft Pro 3.0.9
Button box 2.0.0

[2018-06-04 14:43] Nav33d commented on #15
@bossanova808 It is in the Craft plugin store :)

[2018-06-04 14:43] #15 closed

[2018-06-04 15:12] Nav33d commented on #18
@tyler-deboer @E2design I have just tested this using PHP 7.2.6 and Craft 3.0.9 and it all worked fine regardless of whether it is inside a Matrix or on its own.

Could you please confirm if you are still getting the error?

[2018-06-05 04:01] bossanova808 commented on #15
Right - it was just this that fooled me:

![image](https://user-images.githubusercontent.com/731309/40954622-b7eba9f6-68c8-11e8-9892-8bcc57c2309e.png)

I know there's a place you can do a PR to get that updated but I can't find it now...

[2018-06-07 07:32] skramstad opened #21 "Add display: block to graphical img"
Hi.

Could you please add **display: block;** to the image inside a graphical button so it does not have air below.

`
.buttonbox-buttons--graphical img {
 margin-top: 0;
 max-width: 100%;
 display: block;
}
`

Thanks!

[2018-06-14 07:32] E2design commented on #18
Issue still persists

[2018-06-14 10:44] Nav33d commented on #18
@chasegiunta @E2design I have released a new version of the plugin which should fix this issue.

[2018-06-14 10:44] #18 closed

[2018-07-10 14:32] i-hardy opened #22 "TypeError in passing value from colour fields"
I'm working on a highly user-customisable Craft-based site at the moment and this plugin is fantastic, thank you! However attempting to save an entry that has a colour field in it throws the following error:

[code]

This happened both when creating fields from scratch and converting basic Craft dropdowns. The fields were always in the context of a matrix or Neo block. I tried creating a test colo

[2018-07-10 22:06] jeffaglenn commented on #18
Still having this issue. Any thoughts?
Craft CMS 3.0.15
PHP 7.2.1
Button Box 2.0.1

[2018-07-11 01:14] jeffaglenn commented on #18
Looks like the updates made to `Colours.php` need to be made to `Buttons.php` as well.

[2018-07-11 08:38] E2design commented on #18
Still having the issues

PHP 7.2.7
Craft 3.0.15
Button box 2.01

![schermafdruk 2018-07-11 10 36 15](https://user-images.githubusercontent.com/5907530/42560265-8b3946b2-84f6-11e8-8293-fc15fa632640.png)

[2018-07-12 11:17] SanboKyo commented on #22
The same issue in my case since I updated Craft to the newest version.

A workaround: comment line 99 in /vendor/supercool/buttonbox/src/fields/Colours.php

`//$value = reset($selectedValues) ?: null;`

[2018-07-12 15:25] Nav33d commented on #22
@i-hardy @SanboKyo Could you please let me know the version of PHP you are using? As it seems to work fine when using PHP 7.0

[2018-07-12 16:13] olsp opened #23 "Button Box - when 0 as value, default value is applied"
I'm using a button box and have values from 0 to 20. When I set 6 as default value for the field and then choose 0 as actual value, the default value is applied.

[2018-07-13 10:11] Nav33d commented on #23
@olsp Could you please let me know the field you are using?

[2018-07-13 10:43] Nav33d commented on #18
@jeffaglenn @E2design Thank you for reporting this. I have fixed count error for Buttons, Text Size and Width field types. Please downloaded the latest version 2.0.2 :)

[2018-07-13 13:17] SanboKyo commented on #22
@Nav33d  I tested it again...

With PHP 7.1 I get the same error as i-hardy, see above.

With PHP 7.2 there is no error with colours field, but with buttons field:

[2018-07-13 14:50] i-hardy commented on #22
@Nav33d I'm running 7.0.2 on MAMP.

[2018-07-15 16:53] wooge opened #24 "Type Error: Argument 1 passed to ....BaseOptionsField::optionLabel() must be of the type string or null, array given, called ....buttonbox/src/fields/Width.php on line 100"
Just updated to the lasted build of buttonbox (2.0.2) and getting this error on save of entities with the "Width" plugin used.

`Argument 1 passed to craft\fields\BaseOptionsField::optionLabel() must be of the type string or null, array given, called in /srv/www/website.ca/vendor/supercool/buttonbox/src/fields/Width.php on line 100`

Detail: Using Width inside a Matrix, inside a Super Table.

[2018-07-18 09:49] i-hardy commented on #22
After updating to Buttonbox 2.0.2 I started seeing the same error when trying to save text size fields as well- happened with both Craft 3.0.15 and 3.0.16.

[2018-07-24 08:52] rob-baker-ar commented on #24
I am also getting a similar error, with ButtonBox version 2.0.2, Craft version 3.0.16.1 when saving an entry, as follows:

` TypeError: Argument 1 passed to craft\fields\BaseOptionsField::optionLabel() must be of the type string, array given, called in /[*removed*]/vendor/supercool/buttonbox/src/fields/Buttons.php on line 102 and defined in /[*removed*]/vendor/craftcms/cms/src/fields/BaseOptionsFi

[2018-08-02 11:17] Nav33d commented on #22
@i-hardy Are you still seeing these errors? I have just tested using PHP 7.0 and 7.2 with Craft 3.0.18 and it all seems to work fine here.

[2018-08-02 11:40] Nav33d commented on #23
@olsp Yes its because 0 evaluates to false which then sets the default value. Could you please use letters as values like `zero`, `one` and so on.

Many thanks

[2018-08-02 11:56] olsp commented on #23
But does it make sense to have a "false" value in a width field?

[2018-08-21 06:46] roberttolton commented on #24
Getting the same error:
[code]

PHP 7.2.8
Craft CMS 3.0.20

[2018-09-12 02:19] bossanova808 commented on #20
It looks to me as if we're gonna have to change these fields manually - or did you find a solution to this at all?

I presume manually changing the fields to the equivalent new types will keep all the data in tact but it would be nice to be sure...

But what is bothersome is that I presume I will need to do this every time I import a C2 database to C3 along my development cycle.

Really feels like

[2018-09-17 06:37] michaelroper commented on #20
Awesome Jeremy, top work!
Sorry I didn't get to replying to your question, but no, I hadn't got around to find a solution, so this will be helpful!

[2018-09-18 05:04] bossanova808 commented on #20
No probs.

So I made this into a console command because I am going to have to do this a number of times.  You can see it here and adapt as you need to... (this does a bit more - it forces the install of some plugins that are marked not installed after my C2 -> C3 update, for whatever reason, and then migrates those fields that are missing a migration and (if needed) updates their settings too..)

[2018-10-31 15:06] Djive commented on #24
Getting the same error:

`Argument 1 passed to craft\fields\BaseOptionsField::optionLabel() must be of the type string or null, array given, called in /home/removed/vendor/supercool/buttonbox/src/fields/Buttons.php on line 102`

Using Button Box - Buttons field.

Craft CMS PRO 3.0.29
PHP version: 7.2.10

[2018-11-15 23:49] wooge commented on #22
Similar issue here using Width Widget and PHP 7.1.x, Craft 3.0.31, Button Box 2.0.2

[2018-11-16 02:48] wooge commented on #24
So I got around the issue by downgrading to ```2.0.1```, then in the using SequelPro, to modify the MySQL Database: ```plugin``` table, and upped the version number of the buttonbox plugin to ```2.0.2``` so that I wouldn't accidentally upgrade it — I know this is not a fix, but a dirty work around.

Incidentally, the problem is in the following file: ```/src/fields/Width.php```, starting at line `

[2018-12-03 10:42] pieter-janDB opened #25 "Mulitsite error normalizeValue"
Hi,

I updated a craft 3 site to be multisite. When setting up a multisite and enabling current sections for this new site, Craft will try to generate new entries that are the same as in the main site.

This gives errors on migrating the buttonbox field (I used buttons and colours).

I disabled the plugin and was able to generate my entries for the new site. After re-enabling the plugin I saw that

[2018-12-19 16:55] alexhillel commented on #25
I'm running into this issue too.

[2019-01-14 02:14] michaelroper opened #26 "3.1 beta migration error: "Getting unknown property""
Hey super cool people!

I've run into an issue with the ButtonBox plugin (`v2.0.2`) when trying to update to the latest version of the Craft 3.1 beta. It's working fine on versions up to `3.1.0-beta.5.1`, but anything after that, like the latest `3.1.0-beta.7` release, it will fail with the following error when trying to run the `./craft migrate/all` command.

[code]

I'm guessing there must be so

[2019-01-16 16:48] vaughn-taylor commented on #26
I'm glad that I looked at the Issues for this plugin before I installed it. Seems like 3.1 killed some other plugins as well including SuperTable. Hopefully the issue with this plugin will be resolved soon because I'd love to include it in my project.

[2019-01-16 17:04] petetak commented on #26
Sorry to hear that.  Now 3.1 is out - have you tried running the migration on that?  I'm caught up in some other work at the moment but I'll try and take a look over the next few days

[2019-01-16 17:36] vaughn-taylor commented on #26
@petetak, would running a migration also be required if I were to install the plugin for the first time on CraftCMS 3.1? I assume you were addressing @michaelroper with your comment? I have not yet installed your supercool plugin, but I'd like to start using it. Also, for the sake of clarity, how would one run a migration? I thought all of the technical updating was taken care of by the plugin/cp?

[2019-01-17 02:22] michaelroper commented on #26
Hey @petetak - just tried again with v3.1.1, and no dice - still hitting the same error upon migration. If you could take a look, that would be appreciated!

[2019-01-18 01:19] michaelroper commented on #26
Update on this - not sure if it's related or just a coincidence, but there was an update overnight to the Neo plugin that I'm also using, and now I'm no longer getting the migration errors complaining about ButtonBox... possibly was complaining because I had ButtonBox fields nested under Neo fields? ¯\_(ツ)_/¯

[2019-01-18 04:31] jasonmorehead commented on #26
FWIW, I installed ButtonBox on a site that I just updated to v3.1.1, and it seems to be working fine.

The site doesn't have Neo installed, which might explain why I haven't encountered any errors like the ones that @michaelroper described above.

[2019-01-18 08:34] petetak commented on #26
@jasonmorehead @michaelroper thanks for this extra information - this does sound likely.  I have also managed to upgrade on a 3.1.1 with no Neo installed

[2019-01-23 21:11] SanboKyo commented on #22
Unfortunately not! Last commit was on Jul 13, 2018.

Maybe my workaround will work also in your case:

comment line 99 in /vendor/supercool/buttonbox/src/fields/Colours.php
//$value = reset($selectedValues) ?: null;

[2019-02-14 15:07] proimage opened #27 "Linking to bundled images not working"
According to [this page](http://plugins.supercooldesign.co.uk/plugin/button-box/docs/field):

Image | Filename
-- | --
  | align-center.png
  | align-left.png
  | align-right.png
  | grid.png
  | slider.png
  | text-bold.png
  | text-light.png
  | text-box.png
  | text.png
  | col-1.png
  | col-2.png
  | col-3.png
  | text-col-1.png
  | text-col-2.png
  | text-col-3.png

However, the links to the

[2019-02-22 08:27] michaelroper opened #29 "Project Config support?"
Hey team! Just wondering, is there anything on the roadmap for this plugin to support the Craft 3.1 Project Config feature, so that field settings can be saved into the project.yaml file and synced between environments?

[2019-03-07 08:02] mark-chief commented on #27
The images are also appearing broken for me. Example of URL I am specifying in my fieldtype image column. Using Craft 3.0.15

`/admin/resources/buttonbox/images/align-left.png`

[2019-04-08 00:12] #25 closed

[2019-04-14 10:54] proimage opened #30 "Version 2.0.3?"
Seems like v2.0.3 was literally [nothing but a version number bump](https://github.com/supercool/buttonbox/commit/98c87c9ed7c7b205fb326d181651c337fe0c697d). Am I missing something? :)

[2019-04-18 11:49] j-greig commented on #20
@bossanova808 Is your console command available anywhere else? That link seems to be dead now... I just migrated from C2 to C3 and ButtonBox fields all seem to have lost their values : (

[2019-04-19 08:26] bossanova808 commented on #20
Sorry, must have deleted the gist. In a nutshell, what you need is:

[code]

[2019-05-06 03:23] Mosnar commented on #20
@bossanova808 Thanks for that! Here's the same thing updated as migration you can run in Craft (under utilities).

Create a new file in the Craft root in the `migrations` folder called: `m190506_031734_migrate_buttonbox.php`

[code]

[2019-05-08 10:43] j-greig commented on #20
Many many thanks @bossanova808 @Mosnar, just ran the above through Utilities->Migrations and it worked perfectly :)

[2019-05-29 15:04] iamjamie commented on #20
@bossanova808 @Mosnar Cheers guys, saved me a headache!

[2019-07-17 09:10] nathanedwards opened #32 "Aliases for image buttons"
When specifying an image for a button, it'd be nice to be able to use aliases. This way, in different environments, staging, local etc we can better control the paths to those buttons when databases get synchronised rather than having to hope that absolute paths match up.

Thanks!

[2019-08-14 10:33] haabe commented on #32
Modify the following line in /supercool/buttonbox/src/templates/_components/fields/buttons/input.twig

`{% if option.imageUrl %}<img src="{{ option.imageUrl }}"{% if option.showLabel %} class="buttonbox-buttons__with-label"{% endif %} {% if not option.showLabel %} title="{{ optionLabel }}"{% endif %} />{% endif %}`

to

`{% if option.imageUrl %}<img src="{{ alias(option.imageUrl) }}"{% if option.s

[2019-08-22 19:51] proimage opened #33 "Text Size field styling"
Couple of questions about the styles of Text Size fields:

1. Shouldn't it look somewhat like a `<select>` menu when closed? The green checkmark is a regular Craft `<select>` field; the red is a Button Box Text Select field.
![image](https://user-images.githubusercontent.com/1027523/63544820-ab9ef680-c52e-11e9-91da-99a4796207f2.png)

2. Is is supposed to be floating to the left when opened?
![imag

[2019-10-08 11:11] fbnntt opened #34 "Access to "Valid CSS Colour" column?"
Hey

Just wondering if there's a way to access this column when templating? I'm needing to grab the hex values from it but can't figure out a way to do so.

If there isn't, will this ever be an option?

Thanks

[2020-02-25 01:48] tyssen commented on #27
Same here on Craft 3.4.8. My path is exactly the same as mark-chief's.

[2020-02-26 13:48] proimage opened #35 "[Request] 3x3 grid of buttons"
Having a 3x3 grid of buttons would be very useful for alignment controls (top-left, top-center, etc).

[2020-03-27 19:29] ryanmasuga commented on #27
Anyone ever figure this out? This plugin needs some clear instructions around doing this (Craft 3.4.11) Those instructions above seem to be for Craft 2. We just upgraded a site to Craft 3.4 and all the images are missing. We see them buried deep in the vendor folder...should we be linking to those in some way?

e.g., `/vendor/supercool/buttonbox/resources/images/col-1.png`

[2020-03-27 20:04] ryanmasuga commented on #27
For any other poor soul that stumbles along this lonely path...we solved this by copying the `/vendor/supercool/buttonbox/resources/images/` directory, renaming it to “buttonbox’ and putting it at `/assets/img/buttonbox/`. Note that `assets/img` is a directory we already have in our public folder for various other images that we have committed. So the image paths for our buttons look like:

![butt

[2020-04-06 04:41] adrienne commented on #29
@Kashkin @lindseydiloreto Any progress on this? I'd really like to use it on a new project but i need config support!

[2020-04-06 04:54] lindseydiloreto commented on #29
Hey @adrienne, I'm not really responsible for Button Box, generally speaking. I added the "Triggers" functionality, but outside of maintaining that feature, I don't actually contribute to this plugin at all.

To be honest, I may someday extract that Triggers functionality into a separate plugin. Button Box doesn't tend to get much love, it's been handled by a random series of developers since Josh

[2020-04-06 08:38] adrienne commented on #29
@lindseydiloreto - if you're interested in forking the whole plugin *including* Triggers, i would be willing to help with that!

[2020-04-07 22:08] lindseydiloreto commented on #29
Interesting proposition @adrienne... let me think about that. If I did fork this plugin, I'd keep the fork private. I'm not interested in publicly maintaining my own version of it.

I'll DM you on Discord!

[2020-04-24 13:25] Djive opened #36 "is there a way for buttons to behave like slider"
Hello

Button Box is great

but when there is many options to choose
and thumbnails need to be of bigger size..

Is it posiblle to make it like slider../carousel   something like here
Multiple Slides Per View
https://swiperjs.com/demos/

So we can put more options and to have images in bigger size..

[2020-07-09 16:27] wooge commented on #23
Maybe instead of "false" it's "null" if there is nothing set.

[2020-12-13 17:27] tigerchick opened #37 "ButtonBox within Supertable not recalling selected buttons"
It seems that when a ButtonBox - Buttons field is in a Super Table field and buttons are selected and saved on an entry, when returning to the entry in the backend the selections are lost (all show as default).
Curiously, it does render correctly on the frontend.
Craft: 3.5.16
Super Table 2.6.4
Button Box: 2.0.4

[2021-01-06 18:42] architchandra opened #38 "Button Box within Supertable within Neo - color value reverts to default upon cloning Neo block"
We use a _Button Box - Color_ field inside a _Super Table_ field, which in turn is used in a _Neo_ field. We noticed that upon cloning a _Neo_ block, the color in the _Button Box - Color_ field reverts to the default value (rather than sticking to the value from the block that was cloned).

Upon trying out various combinations of fields to isolate the issue, we realized that this was only happenin

[2021-02-07 16:24] proimage opened #39 "Is this abandoned?"
If so, it would be nice to know. :)

It'd be awesome if the community was able to continue development on this in a collaborate, open-source fashion... it's still the only plugin that does the things it does (icon buttons, etc).

[2022-05-05 07:16] bymayo commented on #39
Also wondering the same, mainly because of Craft 4 being released

[2022-05-10 07:09] amici-infotech commented on #39
Me too. seems like plugin was last updated in Jul 2019. It has active installs over 1750 and still no clues. Any other alternatives?

[2022-05-10 15:52] proimage commented on #39
Hey you. :) Maybe we should code our own? I have a number of feature requests I've posted as issues here over the years. Would be as good a place as any to start out. 🤷‍♂️

[2022-05-12 12:58] engram-design commented on #39
Just to chime in here (and we've used this plugin a few times before), we've added this to our [Craft 3 migration project](https://verbb.io/craft-3). If it gets enough votes, we'll migrate this plugin to Craft 4 and continue to work on it, giving it a new home, and keeping it open source.

Of course, don't let that stop you @proimage and @amici-infotech from developing your own!

I'm not sure if @

[2022-05-12 14:12] proimage commented on #39
Hot dang!! But...
![image](https://user-images.githubusercontent.com/1027523/168095047-7d4aafe7-7819-4d46-8c31-048e9823d326.png)

I have so many feature requests for Button Box... 🤤

[2022-05-12 14:18] engram-design commented on #39
Well, we'd certainly like supercool's blessing for it to find a new home (or for them to state their plans), but according to the [license](https://github.com/supercool/buttonbox/blob/master/LICENSE.md) there's no issue with forking it and continuing development.

[2022-05-12 14:57] supercooljames commented on #39
Really sorry for the radio silence, turns out nobody was being notified about the issues on this repo.

We've kinda abandoned the plugin, and haven't yet started any work migrating our plugins to Craft 4 so I'm more than happy for others to pick this up.

Josh if you want it, consider this my blessing!   😁

[2022-05-13 01:14] engram-design commented on #39
Nice one @supercooljames we'll see how much interest we get an go from there!

[2022-05-17 17:22] wmdhosting commented on #39
Yes, bring this one.. :)

[2022-06-04 11:17] engram-design commented on #39
We've recently acquired this from the Supercool team. Read our [blog post](https://verbb.io/blog/supercool-plugins-have-a-new-home) for more details.

[2022-06-06 10:12] proimage commented on #39
Awesome news! _Really_ glad to hear we'll be able to continue using this on client sites for the foreseeable future. :)

Will you be perusing the open issues in this repo, or do we need to recreate them on your repo, or...?

[2022-06-06 10:14] amici-infotech commented on #39
Michael seems to be very excited. LOL.. me too.

[2022-06-06 10:26] engram-design commented on #39
@proimage We've transferred the repository to Verbb, so the issues will be here. We'll be cleaning up and tackling any urgent items for Craft 3 first, then moving onto Craft 4 shortly afterwards.

[2022-06-06 10:27] proimage commented on #39
Great to know, thanks! With that, I think this can be closed. :)

[2022-06-06 10:27] #39 closed

[2022-06-06 10:39] proimage opened #40 "Allow Image Button label to be centered below the image instead of to the right."
Here's what it looks like when you show the label:
![image](https://user-images.githubusercontent.com/1027523/172145220-9666a4a2-97b1-4802-87d6-32f02b0a7fe5.png)

Here's how I'd like it to look like:
![image](https://user-images.githubusercontent.com/1027523/172145484-988d53cf-5a24-490e-91c8-4895d22e9ed1.png)

An option to toggle between the two layouts would be great. Thanks!

[2022-06-19 14:27] engram-design commented on #20
Thanks for sending this through @bossanova808 and @Mosnar this probably is way past useful at this point with most people updated from Craft 2, but still adding it for the next release.

[2022-06-19 14:28] #26 closed

[2022-06-19 14:30] engram-design commented on #29
Not sure where this conversation trailed off to @lindseydiloreto and @adrienne but ButtonBox, like every other Craft field is supported by project config whether you want to or not!

[2022-06-19 14:30] #29 closed

[2022-06-19 14:30] engram-design commented on #30
Couldn't comment, but likely not an issue anymore!

[2022-06-19 14:30] #30 closed

[2022-06-19 14:31] engram-design commented on #27
Whilst this is working, agreed that this just needs better documents. Thanks @ryanmasuga

[2022-06-19 14:32] engram-design commented on #24
I don't believe this is an issue anymore, due to its age.

[2022-06-19 14:32] #23 closed

[2022-06-19 14:35] engram-design commented on #12
Can't replicate this, but closing due to the age of the issue.

[2022-06-19 14:35] #12 closed

[2022-06-19 14:35] engram-design commented on #10
Closing due to age (also seems no longer to be an issue)

[2022-06-19 14:35] #10 closed

[2022-06-19 14:36] engram-design commented on #13
Closing due to age and links no longer working.

[2022-06-19 14:36] #13 closed

[2022-06-20 01:31] engram-design commented on #27
The documentation now reflects this needs to be relative to the `@webroot` of your project.

[2022-06-20 01:31] #27 closed

[2022-06-20 02:18] engram-design commented on #37
Cannot replicate this on the latest versions. Please comment if this is an issue.

[2022-06-20 02:18] engram-design commented on #38
Cannot replicate this on the latest versions. Please comment if this is an issue.

[2022-06-20 02:19] engram-design commented on #22
Cannot replicate this on the latest versions. Please comment if this is an issue.

[2022-06-20 02:19] #22 closed

[2022-06-20 02:25] engram-design commented on #20
Added in [3.0.1](https://github.com/verbb/buttonbox/releases/tag/3.0.1)

[2022-06-20 02:25] #20 closed

[2022-06-20 13:57] DenyEs opened #42 "Undefined variable $cssColour"
Editing any entry with a buttonbox field on version 3.0.1 results in 'Undefined variable $cssColour' error being presented. I downgraded a plugin back to 3.0.0 and this version works fine.

**Steps to reproduce**
1. Create a buttonbox field
2. Assign field to the entry type
3. Attempt to access entry in the CMS

- Plugin version: 3.0.1
- Craft version: 3.7.44
- Multi-site: No

[2022-06-20 14:32] proimage commented on #27
Awesome, thanks! Just to be clear, is that this bit on [this page](http://plugins.supercooldesign.co.uk/plugin/button-box/docs/field)?
![image](https://user-images.githubusercontent.com/1027523/174624696-c2bf8e07-5af7-406d-83c2-fb28b35552c2.png)

[2022-06-20 17:04] lindseydiloreto commented on #29
Good to know, thanks @engram-design! Really glad to see that Verbb has acquired Button Box, it gives me hope for the future of it. 🙂

[2022-06-20 22:05] engram-design commented on #27
For now, documentation is just on the [readme](https://github.com/verbb/buttonbox/blob/craft-4/README.md). You can ignore the Documentation site from Supercool.

None of that applies any more. It's confusing to include `cpTrigger` because it's just not needed. Images just need to be relative to your `@webroot` so Craft can access them - simple as that.

[2022-06-20 22:07] engram-design commented on #42
Fixed in [3.0.2](https://github.com/verbb/buttonbox/releases/tag/3.0.2)

[2022-06-20 22:07] #42 closed, assigned to nobody

[2022-06-21 02:38] richhayler opened #43 "No Options Displayed for "Buttons" Field Type"
**Description**
Creating a new "Button Box" field and selected "Button" from the field type dropdown should show options to add buttons (handle, label etc) but no options are displayed.

<img width="480" alt="CleanShot 2022-06-21 at 12 34 23@2x" src="https://user-images.githubusercontent.com/2505643/174704472-36b05ad5-ed7a-4afb-97bd-7e222223a8c9.png">

**Steps to reproduce**
1. Add a new field
2.

[2022-06-21 05:04] engram-design commented on #43
Fixed in [4.0.2](https://github.com/verbb/buttonbox/releases/tag/4.0.2)

[2022-06-21 05:04] #43 closed, assigned to nobody

[2022-06-21 09:00] richhayler commented on #43
Thanks Josh! And thank you for updating the Button Box plugin for Craft 4. It’s great that you guys have picked up the Supercool plug-ins.

[2022-06-24 09:50] shep-cc opened #44 "Entry save error relating to languages on Craft 4"
**Description**
When attempting to save an entry with ButtonBox fields, it fails with the error message 'Couldn't save entry'.
The error is related to fields with translation.

Yii Debug log shows:
[code]

**Steps to reproduce**
1. On Craft 4.0 add a ButtonBox field that is set to 'Translate for each site' to an entry type
2. Ensure at least one additional site is enabled for that Section with a d

[2022-06-24 10:01] engram-design commented on #44
Pretty sure that warning is unrelated, it's just saying we don't supply an `es` translation for the plugin. I'm sure there's a bunch more other plugins that don't have translations either.

I can't replicate this though. There should be no reason button box won't work with multi-sites either.

Can you clear out your log files, in `/storage/log` then re-save the entry to get the error, and have a l

[2022-06-28 08:28] DenyEs opened #45 "Buttonbox Color field"
Buttonbox color field  causes javascript related issues when I first try to add a block to an entry. It makes it even worse when it's inside of a supertable as it's stopping the rest of javascript work, all the fields won't stack but they spill out of the container. When I refresh a page, it's all good but when I add another field that contains buttonbox color field it's the same issue again unles

[2022-06-28 10:49] shep-cc commented on #44
Thanks @engram-design - this turned out to be a bit of a red herring, and was more related to the way our Neo blocks had migrated to Craft 4. Closing the issue.

[2022-06-28 10:49] #44 closed, assigned to nobody

[2022-06-28 12:58] engram-design commented on #45
I'm not seeing this error when using any Button box field, sorry. The only instance where this is happening is within a Super Table field.

Fixed for the next release. To get this early, change your `verbb/buttonbox` requirement in `composer.json` to:

Craft 3
[code]

Craft 4
[code]

Then run `composer update`.

[2022-06-28 13:08] DenyEs commented on #45
Thank you Josh for fixing it so quickly! That fixed it for me in both supertable fields and outside of them as well. Appreciate it

[2022-06-28 16:12] adrianjean opened #46 "Declaration of verbb\buttonbox\fields\Width::translatedOptions...."
**Description**
Latest Craft CMS update (3.7.46) might have broken Button Box plugin.
I'm getting the following error after upgrading:

`Declaration of verbb\buttonbox\fields\Width::translatedOptions(): array should be compatible with craft\fields\BaseOptionsField::translatedOptions(bool $encode = false): array
 `

At line 157 of `/vendor/verbb/buttonbox/src/fields/Width.php`

**Additional info**

[2022-06-28 17:03] adrianjean commented on #46
Looks like `line 157`  of `/vendor/verbb/buttonbox/src/fields/Width.php` might need to change

**from this**

`protected function translatedOptions(): array`

**to this**

`protected function translatedOptions(bool $encode = false): array`

But... I'm not a plugin dev, so I don't know if that just messes something else up?

[2022-06-28 17:36] adrianjean commented on #46
Issue shows up in other places as well:

`/vendor/verbb/buttonbox/src/fields/Colours.php — line 148`
`protected function translatedOptions(): array`

**Becomes:**
`protected function translatedOptions(bool $encode = false): array`

And here: `/vendor/verbb/buttonbox/src/fields/TextSize.php — line 162`
`protected function translatedOptions(): array`

**Becomes:**
`protected function translatedOptio

[2022-06-28 22:57] engram-design commented on #46
Looks like this is indeed **very** fresh bug introduced in [Craft 3.7.46](https://github.com/craftcms/cms/blob/v3/CHANGELOG.md#changed). and Craft 4.1.0 today.

Fixed in [3.1.0](https://github.com/verbb/buttonbox/releases/tag/3.1.0) and [4.1.0](https://github.com/verbb/buttonbox/releases/tag/4.1.0).

[2022-06-28 22:57] #46 closed, assigned to nobody

[2022-06-28 22:58] engram-design commented on #45
Fixed in [3.1.0](https://github.com/verbb/buttonbox/releases/tag/3.1.0) and [4.1.0](https://github.com/verbb/buttonbox/releases/tag/4.1.0).

[2022-06-28 22:58] #45 closed, assigned to nobody

[2022-07-05 16:25] akdesign opened #47 "Botton box causing Craft CMS to crash"
**Description**
I ran a composer update to update Craft 3 CMS to 3.7.47; after the update was complete, my site was down, and I'm getting the error below from the CMS control panel. How can FIx this issue?

PHP Warning – [yii\base\ErrorException](http://www.yiiframework.com/doc-2.0/yii-base-errorexception.html)

Declaration of verbb\buttonbox\fields\Colours::translatedOptions(): array should be co

[2022-07-05 16:58] peteralewis commented on #47
I had this so reverted Craft CMS to v3.7.44 in the short run as it's a change in Craft that causes the error.

[code]

But that was because I couldn't work out how to get v3.1.0 as it seemed Packagist wasn't finding the latest version, then I realised I was still using supercool/buttonbox instead of verbb/buttonbox in my composer.

https://github.com/verbb/buttonbox/issues/46

You're using 3.0.2,

[2022-07-06 00:08] engram-design commented on #47
Indeed, fixed in [3.1.0](https://github.com/verbb/buttonbox/releases/tag/3.1.0). This was due to a Craft change between Craft 3.7.45.2 and Craft 3.7.46 (refer to https://github.com/verbb/buttonbox/issues/46).

Generally speaking, it's good practice to update Craft and plugins at the same time.

[2022-07-06 00:08] #47 closed, assigned to nobody

[2022-07-06 10:28] thomasbendl opened #48 "PHP Warning after Upgrade to Craft CMS 3.7.47"
PHP Warning – yii\base\ErrorException

Declaration of verbb\buttonbox\fields\Buttons::translatedOptions(): array should be compatible with craft\fields\BaseOptionsField::translatedOptions(bool $encode = false): array
1. in /home/bogencb6/www.bogensberger.com/vendor/verbb/buttonbox/src/fields/Buttons.php at line 200
191192193194195196197198199200201202203204205206207208209        foreach ($options

[2022-07-06 10:30] engram-design commented on #48
Duplicate of https://github.com/verbb/buttonbox/issues/47 please update to [3.1.0](https://github.com/verbb/buttonbox/releases/tag/3.1.0)

[2022-07-06 10:30] #48 closed, assigned to nobody

[2022-07-06 21:28] smockensturm opened #49 "A Fatal Error Has Occurred"
### Describe the bug

`Status: Internal Server Error`

`Response: {"error":"Declaration of verbb\\buttonbox\\fields\\Colours::translatedOptions(): array should be compatible with craft\\fields\\BaseOptionsField::translatedOptions(bool $encode = false): array","exception":"yii\\base\\ErrorException","file":"/app/vendor/verbb/buttonbox/src/fields/Colours.php","line":148,"trace":[]}`

### Steps to re

[2022-07-06 21:39] smockensturm commented on #49
Sheesh. Never mind. "Fixed in 3.1.0"

[2022-07-06 21:39] #49 closed, assigned to nobody

[2022-07-12 12:39] proimage commented on #46
@engram-design So how does one update Button Box? The plugin store shows 3.0.2 as the latest version available. Craft is at 3.7.41. When I change `verbb/buttonbox` to 3.1.0 in `composer.json` and run `composer install`, I get this:
[code]

I've tried updating the Craft version number similarly to 3.7.46 but then I get even more problems:
[code]
I realize this is probably down to me just not fully

[2022-07-12 12:46] engram-design commented on #46
Running a `composer update` if you prefer the command line, or `./craft update`, or using the CP to update should do the trick!

That's actually quite interesting about the plugin store, I might ping them about it. But according to Packigist, the 3.1.0 tag definitely exists.

But that error shows that you need Craft `3.7.46` or later. Normally, if you run any of the above commands, Composer will s

[2022-07-12 13:02] proimage commented on #46
Yeah, so obviously since the Plugin Store doesn't show the 3.1.0 update for BB, but it _does_ show Craft's updates, then when I've tried that, I get the error in the original post above.

Running `composer update` did the trick, thanks! Not sure how I didn't stumble across that before. 🤷‍♂️

[2022-07-12 23:04] engram-design commented on #46
Weird! The plugin store does show `3.1.0` now and must've been some strange caching thing - despite the release being pushed 2 weeks ago. Glad you got it sorted.

And yeah, not sure if you were trying to update _just_ Button Box, or _just_ Craft, but you'll need to update everything in one go, as one relies on the other.

[2022-07-13 14:14] michaelhue commented on #38
We have the same issue, but without Super Table (just Neo).

**Versions used**
- Craft CMS: 3.7.48
- Neo: 2.13.13
- Button Box: 3.1.0

[2022-07-20 20:03] lindseydiloreto opened #50 "Craft 3 bug fix"
### Describe the bug

In Craft [3.7.46](https://github.com/craftcms/cms/blob/v3/CHANGELOG.md#3746---2022-06-28), a small change was made...

Which had the unintended side effect of generating this error in Button Box...

<img width="941" alt="Ω  2022-07-20  12 54 31" src="https://user-images.githubusercontent.com/5309692/180070062-1b0b42e9-f825-42fe-8481-f24d9fdb1f43.png">

### Steps to reproduce

[2022-07-21 02:59] engram-design commented on #50
Duplicate of https://github.com/verbb/buttonbox/issues/46, https://github.com/verbb/buttonbox/issues/47, https://github.com/verbb/buttonbox/issues/48 and https://github.com/verbb/buttonbox/issues/49 (please search 😉)

Already fixed in [3.1.0](https://github.com/verbb/buttonbox/releases/tag/3.1.0)

Please run `composer require verbb/buttonbox && composer remove supercool/buttonbox` to remove the ol

[2022-07-21 02:59] #50 closed, assigned to nobody

[2022-07-21 18:38] lindseydiloreto commented on #50
Ah, my bad! I thought I had searched, but apparently I didn't search very well.

I didn't even realize there was a 3.x version, not sure why I was stuck on 2.x. Switching to the latest 3.x version completely fixed the problem. 👍

Thanks man, sorry for clogging your Github feed! 😄

[2022-10-14 09:41] tomkiss opened #51 "Button Box not showing correct state after being saved within Vizy component"
### Describe the bug

I have a buttonbox field saved as a button configuration, and the field is stored within a Vizy component type.

When the entry is saved, the value is stored and correctly outputs in the front-end twig template.

However, when editing the entry again, the UI is not correctly showing the selected button; instead, simply shows the default as being selected.

### Steps to reprod